
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

body {
  /* background-color: aqua; */
  /* background-color: #e7eaf6;; */
  background-color: #cbd3f2;
  font-family: 'Ubuntu', sans-serif;
}
.logo {
  display: block;
  margin: auto;
  /* // use display block and margin auto to make it center  */
  width: 50px;
  height: 50px;
}

.container {
  background-color: #a2a8d3;
  position: relative;
  overflow-x: hidden;
  max-width: 55%;
  height: 80vh;
  margin: 5rem auto;
  /* box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 32px, rgba(0, 0, 0, 0.15) 0px 10px 8px;
  border-radius: 5px;
  overflow-y: auto;
}
.message-container{
  padding: 1rem 1rem;
}
.message {
  max-width: 100rem;
  margin: 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* border: solid black 2px; */
  padding: 8px 10px;
}
.left {
  float: left;
  margin-left: 1rem;
  background-color: #F2F3F4;
  color: #113f67;
  border-radius: 0px 5px 5px 5px;
  clear: both;
}
.right {
  margin-right: 1rem;
  background-color:#47699c;
  color: white;
  border-radius: 5px 0px 5px 5px;
  float: right;
  clear: both;
}
.send-container{
  position: absolute;
    text-align: center;
    bottom: 12px;
    width: 100%;
  
}

#sendText{
    height: 35px;
    width: 90%;
    margin:10px 0 0 1px;
    display: inline-block;
    padding: 0 7px;
    border: none;
    border-radius: 0.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #e5e9ee;
}
#sendText:hover, #sendText:focus {
  border:none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}
.btn{
    cursor: pointer;
    border: none;
    padding: 0 15px;
    font-size: 1rem;
    color: #113f67;
    /* border: 2px solid rgb(60, 59, 59); */
    border-radius: 0.2rem;
    margin-left: 4px;
    height: 35px;
}
.btn i{
  transform: rotate(30deg);
}
